# Node.js
node_modules/

# Turborepo
.turbo/

# Misskey
/built/
/packages/*/built/
/packages/*/coverage/
/packages/*/types/

# Misskey Configs
/docker-compose.yml
/.config/*
!/.config/example.yml
!/.config/docker_example.yml
!/.config/docker_example.env
